* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

.main-header {
    background-color: #a2cad7;
	padding: 12px 400px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-menu {
    display: flex;
    gap: 20px;
}